API_IMAGE=us-central1-docker.pkg.dev/proyecto1-entrega2-desarrollo/mooc-e2/mooc-e2-api:latest
DATABASE_URL=postgres://mooc-postgres:CAMBIAR_CLAVE@CAMBIAR_HOST_CLOUD_SQL:5432/mooc?sslmode=require
REDIS_ADDR=CAMBIAR_IP_PRIVADA_DEL_WORKER:6379
S3_ENDPOINT=storage.googleapis.com
S3_BUCKET=CAMBIAR_NOMBRE_DEL_BUCKET_GCS
S3_USE_SSL=true
S3_REGION=us-central1
S3_ACCESS_KEY=CAMBIAR_LLAVE_HMAC_ACCESS_ID
S3_SECRET_KEY=CAMBIAR_LLAVE_HMAC_SECRET
SMTP_ADDR=mailpit:1025
PORT=8080
AUTH_COOKIE_ENABLED=true
CSRF_ENABLED=true
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_NAME=mooc_session
CSRF_COOKIE_NAME=mooc_csrf
CSRF_HEADER_NAME=X-CSRF-Token
SESSION_COOKIE_MAX_AGE_SECONDS=86400
DB_MAX_CONNS=5
DB_MIN_CONNS=0
