WORKER_IMAGE=us-central1-docker.pkg.dev/proyecto1-entrega2-desarrollo/mooc-e2/mooc-e2-worker:latest
DATABASE_URL=postgres://CAMBIAR_USUARIO:CAMBIAR_CLAVE@CAMBIAR_HOST_CLOUDSQL:5432/mooc?sslmode=require
REDIS_ADDR=redis:6379
S3_ENDPOINT=storage.googleapis.com
S3_BUCKET=CAMBIAR_NOMBRE_DEL_BUCKET
S3_USE_SSL=true
S3_ACCESS_KEY=
S3_SECRET_KEY=
CLAMAV_HOST=clamav
CLAMAV_PORT=3310
WORKER_WORKDIR=/tmp/media
WORKER_CONCURRENCY=5
